input{
    margin-bottom: 25px;
}
#result{
    background-color:#396281;
    color: white ;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
}
a{
    color: white;
    margin: 15px;
    text-decoration:none;
    font-size: 25px;
}
.logo{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5%;
    color: white;
    width: 10%;
    height: auto;
}
li{
    display: flex;
}
